/* Marina's */
@font-face {
  font-family: 'Sucrose Bold Two';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/sucrose.woff2') format('woff2');
}

  /* Marina's */

@font-face {
  font-family: 'IM Fell French Canon Pro';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/im-fell-french-canon-pro.woff2') format('woff2');
}

/* Marina's */
@media all and (max-width: 400px) {
  main { background: #8458B3 } 

}

* {
  font-family: 'Sucrose Bold Two';

}

